<div class="container">
  <div class="row">
    <h3 class="col-md-12">Final Output - Components created by CSS tweak</h3>
  </div>

  <!-- Single line input -->
  <div class="row">

    <!-- Normal -->
    <mat-form-field appearance="outline" [ngClass]="{'focus':firstNameFormControl.focused}" class="text-input example-full-width col-md-6">
      <input matInput  class="openSans" (focus)="firstNameFormControl.focused=true;" (focusout)="firstNameFormControl.focused=false;"
        [formControl]="firstNameFormControl">
      <mat-label class="openSans">First Name</mat-label>
    </mat-form-field>

    <!--With Validation -->
    <!-- {{"Error"+emailFormControl.error}} -->
    <mat-form-field appearance="outline" [ngClass]="{
      'error':emailFormControl.touched && ( emailFormControl.hasError('email') || emailFormControl.hasError('required')),
      'focus':emailFormControl.focused && !(emailFormControl.touched && ( emailFormControl.hasError('email') || emailFormControl.hasError('required')))
    }" class="text-input example-full-width col-md-6">
      <input matInput  class="openSans" [ngClass]="{'error-color':emailFormControl.touched && ( emailFormControl.hasError('email') || emailFormControl.hasError('required'))}"
        (focus)="emailFormControl.focused=true;" (focusout)="emailFormControl.focused=falses;" [formControl]="emailFormControl">
      <mat-label class="openSans">Email Address*</mat-label>
      <mat-error class="openSans" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Invalid email
      </mat-error>
      <mat-error class="openSans" *ngIf="emailFormControl.hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>



  </div>

  <!-- Text Area -->
  <div class="row">
    <!-- Normal -->
    <mat-form-field appearance="outline" [ngClass]="{'focus':textArea1FormControl.focused}" class="col-md-6 text-area example-full-width">
      <mat-label class="openSans">Instructions(Optional)</mat-label>
      <textarea matInput class="openSans" rows="6" (focus)="textArea1FormControl.focused=true;" (focusout)="textArea1FormControl.focused=false;"
        [formControl]="textArea1FormControl"></textarea>
      <mat-hint class="openSans">Hint</mat-hint>
    </mat-form-field>
    <!-- Validation -->
    <mat-form-field appearance="outline" [ngClass]="{'focus':textArea2FormControl.focused,'error':textArea2FormControl.touched && textArea2FormControl.hasError('required')}"
      class="col-md-6 text-area example-full-width">
      <mat-label class="openSans">Instructions*</mat-label>
      <textarea matInput rows="6" (focus)="textArea2FormControl.focused=true;" (focusout)="textArea2FormControl.focused=false;"
        [formControl]="textArea2FormControl"></textarea>
      <mat-hint class="openSans">Hint</mat-hint>
      <mat-error class="openSans" *ngIf="textArea2FormControl.hasError('required')">
        This fiels is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>


  <br/>
  <!-- Radio Button -->
  <mat-radio-group class="example-radio-group" name="'myRadioGroup'" [(ngModel)]="favoriteSeason">
    <mat-radio-button color="primary" value="addr1" class="openSans">101, North Address Line 1</mat-radio-button>
    <br/>
    <mat-radio-button color="primary" value="other" class="openSans">Other Address</mat-radio-button>
  </mat-radio-group>

  <!-- DropDowns -->
  <div class="row">
    <!-- Normal -->
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="drop-down">
        <mat-label class="openSans">Favourite Food</mat-label>
        <mat-select>
          <mat-option class="openSans" *ngFor="let food of ['Apple','Orange','Grape']" [value]="food">
            {{food}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Validations -->
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="drop-down" [ngClass]="{'focus':dropdown2FormControl.focused,'error':dropdown2FormControl.touched && dropdown2FormControl.hasError('required')}">
        <mat-label class="openSans">Favourite Food*</mat-label>
        <mat-select [formControl]="dropdown2FormControl" (focus)="dropdown2FormControl.focused=true;"
          (focusout)="dropdown2FormControl.focused=false;">
          <mat-option class="openSans" *ngFor="let food of ['Apple','Orange','Grape']" [value]="food">
            {{food}}
          </mat-option>
        </mat-select>
        <mat-error class="openSans" *ngIf="dropdown2FormControl.hasError('required')">
          This fiels is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <!-- Buttons -->
  <button mat-button class="linc-button secondary left-icon">
    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
    <span class="openSans">BACK</span>
  </button>
  <span style="width: 20px;display:inline-block"></span>
  <button mat-button class="linc-button primary right-icon">
    <span class="openSans">CONTINUE</span>
    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
  </button>

  <br/>
  <br/>

  <!-- Cards -->
  <!-- yes/no -->
  <div class="row">
    <div class="col-md-12">
      <div class="openSans" [ngClass]="{'active ':selectedCard=='a'}" class="linc-card yes" (click)="selectedCard='a'">
        Yes
      </div>
      <span style="width: 20px;display:inline-block"></span>

      <div class="openSans" [ngClass]="{'active ':selectedCard=='b'}" class="linc-card no" (click)="selectedCard='b'">
        No
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <!-- Processing -Bigger -->

  <div class="row">
    <mat-card class="linc-card-big ripple" [ngClass]="{'active ':selectedCardBig=='a'}" (click)="selectedCardBig='a'">
      <mat-card-content>
        <div class="text-center">
          <img src="assets/graphics/owner-icon.png" alt="single" style="margin-bottom: 15px;">
        </div>
        <div style="text-align: center">
          <p class="openSans">Solely by the owner
            <br/>(member-managed)</p>

        </div>
      </mat-card-content>
    </mat-card>
    <span style="width: 20px;display:inline-block"></span>
    <mat-card class="linc-card-big ripple" [ngClass]="{'active ':selectedCardBig=='b'}" (click)="selectedCardBig='b'">
      <mat-card-content>
        <div class="text-center">
          <img src="assets/graphics/owner-and-managers-icon.png" alt="group" style="margin-bottom: 15px;">
        </div>

        <div style="text-align: center">
          <p class="openSans">By the owners and other managers
            <br/>(manager-managed) </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <br/>
  <br/>
  <mat-checkbox color="primary" class="openSans">I do not have ea business bank account.</mat-checkbox>

</div>

<!-- Radio Button -->
<!-- <mat-radio-group class="example-radio-group card-radio" name="'myRadioGroup'" [(ngModel)]="favoriteSeason">
  <mat-radio-button color="primary" value="addr1" class="openSans">101, North Address Line 1</mat-radio-button>
  <br/>
  <mat-radio-button color="primary" value="other" class="openSans">Other Address</mat-radio-button>
</mat-radio-group> -->


<hr />