<div class="container" style="margin-top: 50px">


  <h4>Buttons</h4>


  <button mat-raised-button color="basic" class="linc-button">
    Add
    <mat-icon aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon>
  </button>
  <br/>
  <br/>

  <button mat-raised-button color="basic" class="linc-button">
    Next
    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
  </button>
  <br/>
  <br/>
  <hr/>

  <h4>Text Input</h4>
  <h6>Built-in</h6>
  <p>
    <mat-form-field appearance="outline" style="font-size: 13px">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <br/>
  <br/>
  <h6>Custom</h6>
  <app-text-input></app-text-input>

  <br/>
  <br/>
  <hr/>
  <h4>Text Area</h4>
  <h6>Built-in</h6>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Outline form field</mat-label>
    <textarea matInput placeholder="Leave a comment"></textarea>
    <!-- <input matInput placeholder="Placeholder"> -->
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <h6>Custom</h6>
  <app-textarea-input></app-textarea-input>

  <textarea class="editableDiv" placeholder="Instruction(Optional)"></textarea>
  <!-- <div contenteditable="true" class="editableDiv" style="width:  500px;height: 250px;">
    Content Editableasdf
    <div>asdf</div>
  </div> -->

  <br/>
  <br/>
  <hr/>
  <h4>Card Checkbox</h4>
  <div class="row">

    <mat-card [ngClass]="{'active-card ':selectedCard=='a'}" class="example-card col-md-6" (click)="selectedCard='a'">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card [ngClass]="{'active-card ':selectedCard=='b'}" class="example-card col-md-6" (click)="selectedCard='b'">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <br/>
  <br/>
  <hr/>
  <h4>Dropdown</h4>
  <h6>Built-in</h6>

  <mat-form-field appearance="outline" class="col-md-6">
    <mat-select placeholder="Select Country">
      <mat-option *ngFor="let option of ['option1','option2','option3']" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>
  <h6>Custom</h6>
  <select class="drop-custom">
    <option>Select Country</option>
    <option>Option1</option>
    <option>Option2</option>
    <option>Option3</option>
    <option>Option4</option>
  </select>
  <br/>
  <br/>

  <app-dropdown></app-dropdown>

  <br/>
  <br/>
  <hr/>































  <div class="row">


















    <!-- <app-ownership-management class="col-md-7"></app-ownership-management>
    <app-your-order class="col-md-5"></app-your-order> -->
  </div>
</div>