button:focus{
    outline: 0;
  }
.linc-button{
    background: #0166ff;
    color: white;
    border-radius: 24px;
}
.linc-button mat-icon {
    right: -11px;
    position: relative;
}


.active-card{
    box-shadow: 0px 0px 5px 0px #339eff !important;
    border: 1px solid #0975d6;
}
.example-card {
    max-width: 250px;
    margin-right: 15px;
  }
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.editableDiv:hover{
    outline: 0;
}
.editableDiv{
    width: 500px;
    height: 150px;
    padding: 15px;
    border: 1px solid #bbd6fe;
}
.drop-custom{
    width: 250px;
    background: white;
    height: 40px;
    border: 1px solid #bbd6fe;
    padding-left: 15px;
}
.mat-form-field-outline-start, .mat-form-field-outline-gap .mat-form-field-outline-end{
    border: none;
}

.text-input >>> .mat-form-field-subscript-wrapper{
    margin-top: 0px !important;
}

.text-input >>> .mat-form-field-appearance-outline .mat-form-field-outline-start{
    border-radius: 0px;
}

.text-input >>> .mat-form-field-outline div{
    border: none;
  }
.text-input >>> .mat-form-field-outline  {
    border: 1px solid #bbd6fe;
    margin-top: -6px;
    height: 50px;
  }

.text-area >>> .mat-form-field-outline div{
    border: none;
}
.text-area >>> .mat-form-field-outline  {
    border: 1px solid #bbd6fe;
    margin-top: -6px;
  }

.drop-down >>> .mat-form-field-outline div{
    border: none;
}
.drop-down >>> .mat-form-field-outline  {
    border: 1px solid #bbd6fe;
    margin-top: 10px;
  }
.drop-down >>> .mat-select-arrow{
    border-left: 0px;
    border-right: 0px;
}
.drop-down >>> .mat-select-arrow::before{
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    height: 0.65em;
    left: -0.7em;
    position: relative;
    top: -0.25em;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.65em;
    color: #0166ff;
}

