<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Entity Type</mat-card-title>
      <mat-card-subtitle>LLC (40%)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" style="margin-top: 15px;">
    <mat-card-content>
      <div style="border-bottom: 1px solid #e1e1e1;margin-bottom: 15px;">
        <p>
          <span>LLC Package</span>
          <span style="float: right;">$79.00</span>
        </p>
        <p>
          <span>California state LLC Fee</span>
          <span style="float: right;">$75.00</span>
        </p>
        <p>
          <span>Formation</span>
          <span style="float: right;">Included</span>
        </p>
        <p>
          <span>Preliminary name check</span>
          <span style="float: right;">Included</span>
        </p>
        <p>
          <span>Operating agreement & banking resolution</span>
          <span style="float: right;">Included</span>
        </p>
      </div>
      
      <div class="clearfix"></div>
      <h6>
        <span>Order summary</span>
        <span style="float: right;">$154.00</span>
      </h6>


    </mat-card-content>
  </mat-card>

</div>